# URL to Leetify account, can be direct URL or Steam Account URL replacing '.com' with '.gg'.
LEETIFY_ACCOUNT = 'https://steamcommunity.gg/id/username/'
# Email of the user's Leetify account.
LEETIFY_EMAIL = 'user@email.com'
# Password of the user's Leetify account.
LEETIFY_PASSWORD = 'Password123!'