# URL to guest's Leetify account
GUEST_LEETIFY_ACCOUNT = 'https://steamcommunity.gg/profiles/username/'
# URL to user's Leetify account
LEETIFY_ACCOUNT = 'https://steamcommunity.gg/id/username/'
# Email of the user's Leetify account.
LEETIFY_EMAIL = 'user@email.com'
# Password of the user's Leetify account.
LEETIFY_PASSWORD = 'Password123!'